.about {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    background-color: rgba(255, 245, 246, 1);
    @media screen and (max-width: 767px) {
      max-width: 480px;
      background-image: url('../images/about/milk-mob.png');
      background-repeat: no-repeat;
      background-position-y: 87%;
      background-size: contain;
      @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) {
        background-image: url('../images/about/milk-mob@2x.png');
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 1279px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      margin-top: 102px;
      background-color: rgba(255, 245, 246, 1);
      background-repeat: no-repeat;
      background-position-y: 90%;
      background-size: contain;
      background-image: url('../images/about/milk-desktop.png');
        @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) {
          background-image: url('../images/about/milk-desktop@2x.png');
        }
    }
}

.about-container {
  margin: 0 auto;
  max-width: 320px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 125px;
  text-align: center;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 125px;
  }
}

.about-title__lable {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-label-tittle-color);
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.about-title__title {
  display: block;
  max-width: 200px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-bottom: 26px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 100px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    max-width: 1280px;
  }
}

.about__first-block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.about__second-block {
  font-family: DM Sans;
  display: block;
  max-width: 220px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  @media screen and (min-width: 768px){
    margin-left: 17px;
    margin-right: 0;
    min-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 74px;
    margin-right: 0;
    min-width: 463px;
  }
}
.about__first-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;
  color: var(--second-text-color);
  margin-bottom: 27px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
}

.about__second-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;
  color: var(--third-text-color);
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 26px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.94;
    margin-bottom: 26px;
    letter-spacing: 0.04em;
  }
}

  .about__last-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    text-align: left;
    color: var(--third-text-color);
    margin-bottom: 27px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
      margin-bottom: 62px;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.94;
      margin-bottom: 45px;
      letter-spacing: 0.04em;
    }
  }

.about__button {
  display: flex;
  width: 176px;
  height: 44px;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: inherit;
  border-radius: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  justify-content: center;
  background-color: var(--second-tittle-color);
  color: var(--main-tittle-color);
  fill: var(--active--svg-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: rgba(236, 235, 235, 1);
  }
}
.about__icon {
  margin-left: 14px;
  fill: #ffffff;
}



.backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.modal{
  max-width: 450px;
  min-height: 500px;
  background-color: var(--second-tittle-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden  &{
      transform: scale(1.5);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px){
      width: 528px;
      min-height: 581px;
  }
}

.modal__close{
  width: 30px;
  height: 30px;
  background-color: var(--main-label-tittle-color);
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: rgba(236, 235, 235, 1);
  }
}

// .modal__icon{
//   fill: var(--main-label-tittle-color);
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     fill: var(--active--svg-color);
//   }
// }

// .modal__icon:hover{
//   fill: var(--active--svg-color);
// }

.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title{
  font-family: DM Sans;
  font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    text-align: left;
    color: var(--third-text-color);
    margin-bottom: 27px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
      margin-bottom: 62px;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.94;
      margin-bottom: 45px;
      letter-spacing: 0.04em;
    }
}