.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.advantages {
  background-color: #fff5f6;
  padding-top: 20px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 33px;
    padding-bottom: 70px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  @media screen and (max-width: 767px) {
    max-width: 230px;
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 180px;

    @media screen and (min-width: 1280px) {
      width: 330px;
    }
  }
}

.first-item::before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/icon1.png);
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.second-item::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/icon2.png);
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.third-item::before {
  content: '';
  display: inline-block;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/icon3.png);
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages__text {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.13;
  }
}

.advantages__second-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.66;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
