.costomer-reviews-section {
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.costomer-reviews-conteiner {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.costomer-reviews__foto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.costomer-reviews__text-wrapper {
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
  height: 308px;
  text-align: center;
  @media screen and (min-width: 768px) {
    background-color: var(--second-tittle-color);
    height: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    background-color: #fafafa;
  }
}

.costomer-reviews__text {
  display: inline-block;
  position: relative;
  padding-top: 43px;
  padding-bottom: 20px;
  width: 157px;
  height: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;

  @media screen and (min-width: 768px) {
    padding-top: 47px;
    padding-bottom: 34px;
    width: 460px;
    height: auto;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
    @media screen and (min-width: 1280px) {
      padding-bottom: 32px;
      width: 750px;
      font-size: 16px;
      line-height: 1.86;
    }
  }
}
.costomer-reviews__text-underline {
  position: inherit;
  background: linear-gradient(to left, #e1e1e1, #e1e1e1 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
}

.costomer-reviews__text::before {
  content: '';
  background-image: url('../images/customer-reviews/quotes-min.png');
  position: absolute;
  width: 54px;
  height: 40px;
  background-repeat: no-repeat;
  top: 25px;
  left: 6px;
  @media screen and (min-width: 768px) {
    left: -38px;
  }
  @media screen and (min-width: 1280px) {
    left: -36px;
  }
}

.costomer-reviews__top-wrapper {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    @media screen and (min-width: 1280px) {
      margin-top: 15px;
    }
  }
}
.costomer-reviews__dots {
  display: flex;
  justify-content: center;
}

.costomer-reviews__dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #c7133e;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.costomer-reviews__name {
  margin-top: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    margin-top: 18px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
    font-size: 20px;
  }
}

.costomer-reviews__pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}

.pagination__ellips {
  margin-left: 18px;
}

.pagination-item__home {
  fill: #d31342;
}

.pagination-item__ellips {
  fill: #d9d9d9;
}
