
.header-logo{
  display: block;
width: 199px;
height: 50px;
}
img{
  max-width: 100%;
}

.mob-menu{
  position: relative;
  background-color: #E17992;
  width: 100vw;
  height: 100vh;
}
.close-menu__btn{
position: absolute;
width: 14px;
height: 14px;
top: 10px;
right: 15px;
margin-left: auto;
border: none;
background-color: transparent;
}
.close-menu__svg{
  fill: #ffffff;
}
.open-menu__svg{
fill: #D41443;
}
.mob-menu__btn{
  display: block;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  border:none;
  background: #ffffff;

}