:root {
  --main-tittle-color: #d41443;
  --second-tittle-color: #ffffff;
  --main-label-tittle-color: #ffa5ba;
  --main-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #907e82;
  --contacts-horeca-color: #ffffff;
  --contacts-city-color: #000000;
  --contacts-text-color: #907e82;
  --contacts-time-color: #ffa5ba;
  --contacts-color: #907e82;
  --active--svg-color: #d41443;
  --products-card-first-color: #ffb8ca;
  // --products-card-second-color: #f0d1a5;
  --products-card-third-color: #c2e297;
  --products-button-color: #ffffff;
}
