<!--Подвал: адрес и контакты-->
<section class="footer">
  <p>homemade ice cream made</p>
  <p>with passion</p>
  <ul>
    <li>
      <a href="" class="">
        <svg class="" width="34" height="34">
          <use href="./images/icon.svg#footergithub"></use>
        </svg>
      </a>
    </li>
    <li> <a href="" class="">
        <svg class="" width="34" height="34">
          <use href="./images/icon.svg#footertelegram"></use>
        </svg></li>
    <li> <a href="" class="">
        <svg class="" width="34" height="34">
          <use href="./images/icon.svg#footerfacebook"></use>
        </svg></li>
  </ul>
  <p>Feel free to contact
    <a class="contacts__tel link" href="tel:+610383766284"
              >+61 (0) 383 766 284</a
  </p>
</section>
