<section class="container-gallery">   
    <div class="gallery">  
        <li>
            <picture>
                <source srcset="./images/gallery/gallery-desktop-removebg-preview.png 1x, 
                                                    ./images/gallery/gallery-desktop_2x-removebg-preview.png" media="(min-width: 1280px)" />
                <source srcset="./images/gallery/gallery-tab-removebg-preview.png 1x, 
                                                    ./images/gallery/gallery-tab_2x-removebg-preview.png 2x" media="(min-width: 768px)" />
                <source srcset="./images/gallery/gallery-mob-removebg-preview.png 1x, 
                                                    ./images/gallery/gallery-mob_2x-removebg-preview.png 2x" media="(min-width: 320px)" />
                <img src="./images/gallery/gallery-mob-removebg-preview.png" alt="gallery">
            </picture>     
        </li>
    </div>
</section>