<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">
            <a href="./index.html" class="header-logo">
                <img src="./images/hero-header/logo.png">
            </a>
            <ul class="list header-list">
                <li class="header-item">
                    <a class="link header-link" href="">Home</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">About us</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">How it’s made?</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Our products</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-button">
            <button class="header-btn btn" type="button">
                Buy now
            </button>
        </div>
        <button type="button" class="open-menu-btn">
            <svg class="open-menu__svg" width="20" height="12">
                <use href="./images/icon.svg#Burger">
                </use>
            </svg>
        </button>

        <div class="mob-menu">
            <div class="container">
                <div class="mob-menu__close">
                    <button type="button" class="close-menu__btn">
                        <svg class="close-menu__svg" width="14" height="14">
                            <use href="./images/icon.svg#modalbtnclose"></use>
                        </svg>
                    </button>
                    <button class="mob-menu__btn" type="button">
                        Buy now
                    </button>
                    <ul class="list mob-menu-list">
                        <li class="mob-menu__item">
                            <a class="link mob-menu__link" href="">Home</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="link mob-menu__link" href="">About us</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="link mob-menu__link" href="">How it’s made?</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="link mob-menu__link" href="">Our products</a>
                        </li>
                        <li class="mob-menu__item">
                            <a class="link mob-menu__link" href="">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-hero">
            <div class="hero-title-container">
                <h1 class="hero-section__title">ice cream <br> made with <span
                        class="hero-section__title-red">passion</span>
                    </br>
                    <div class="hero-buttons">
                        <button class="hero-section__first-button" type="button">Products</button>
                        <button class="hero-section__second-button" type="button">How it’s made?</button>
                    </div>
            </div>
            <div class="header-hero__left">
                <div class="header-hero__img">

                </div>
                <div class="header-hero__description">
                    <p class="header-hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button class="products-section__list-button">
                        <svg class="products-section__icon" width="16" height="16">
                            <use href="./images/icon.svg#products-icon"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="header-hero__center">
                <div class="header-hero__center-circle">

                </div>
                <div class="header-hero__center-picture">
                    <picture class="hero-main-pic">
                        <source srcset="./images/hero-header/icecream-deskotp.png 1x,
                            ./images/hero-header/icecream-deskotp@2x.png 2x" media="(min-width:1280px)" />
                        <source srcset="./images/hero-header/icecream-tab.png 1x,
                            ./images/hero-header/icecream-tab@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/hero-header/icecream-mob.png 1x,
                            ./images/hero-header/icecream-mob@2x.png 2x" media="(min-width:320px)" />
                        <img src="./images/hero-header/icecream-mob.png" alt="photo of IceCream">
                    </picture>
                </div>

            </div>
            <div class="header-hero__right">
                <div class="header-hero__right-numbers">
                    <div class="header-hero__right-top">
                        <p class="">16</p>
                        <p class="">cafes</p>
                    </div>
                    <div class="header-hero__right-bottom">
                        <p class="">23</p>
                        <p class="">foodtracks</p>
                    </div>
                </div>
                <div class="header-hero__right-picture">

                </div>
            </div>
        </div>
    </div>

</header>