<section class="products-section" id="Products">
    <div class="products__container">
        <p class="products-section__label">100% natural</p>
        <h2 class="products-section__title">products</h2>
        <ul class="products-section__list">
            <li class="products-section__item products-section__item--first">
                <h3 class="products-section__list-title">ice cream</h3>
                <p class="products-section__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="products-section__list-text--hidden">. dolore magna aliqua facilisis.</span></p>
                <button class="products-section__list-button">
                    <svg class="products-section__icon" width="16" height="16">
                        <use href="./images/icon.svg#products-icon"></use>
                      </svg>
                </button>   
            </li>
            <li class="products-section__item products-section__item--second">
                <h3 class="products-section__list-title">ice coffee</h3>
                <p class="products-section__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="products-section__list-text--hidden">. dolore magna aliqua facilisis.</span></p>
                <button class="products-section__list-button">
                    <svg class="products-section__icon" width="16" height="16">
                        <use href="./images/icon.svg#products-icon"></use>
                      </svg>
                </button>    
            </li>
            <li class="products-section__item products-section__item--third">
                <h3 class="products-section__list-title">milkshakes</h3>
                <p class="products-section__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="products-section__list-text--hidden">. dolore magna aliqua facilisis.</span></p>
                <button class="products-section__list-button">
                    <svg class="products-section__icon" width="16" height="16">
                        <use href="./images/icon.svg#products-icon"></use>
                      </svg>
                </button>    
            </li>
        </ul>
    </div>
</section>
